In [81]:
import requests 
import pandas as pd
import config


#request datasets

#2010-2011 INDEX 0
response2010_2011 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2010-2011')
#2011-2012 INDEX 1
response2011_2012 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2011-2012')
#2012-2013 INDEX 2
response2012_2013 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2012-2013')
#2013-2014 INDEX 3
response2013_2014 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2013-2014')
#2014-2015 INDEX 4
response2014_2015 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2014-2015')
#2015-2016 INDEX 5
response2015_2016 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2015-2016')
#2017-2018 INDEX 6
response2017_2018 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2017-2018')
#2018-2019 INDEX 7
response2018_2019 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2018-2019')
#2019-2020 INDEX 8
response2019_2020 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2019-2020')
#2020-2021 INDEX 9 
response2020_2021 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2020-2021')
#2021-2022 INDEX 10
response2021_2022 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2021-2022')
#2022-2023 INDEX 11
response2022_2023 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2022-2023')
#2023-2024 INDEX 12
response2023_2024 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2023-2024')
#2024-2025 INDEX 13
response2024_2025 = requests.get(f'https://www.thesportsdb.com/api/v1/json/{config.api_key}/lookuptable.php?l=4328&s=2024-2025')

#access to API data
response_list = [response2010_2011, response2011_2012, response2012_2013, 
                 response2013_2014, response2014_2015, response2015_2016, 
                 response2017_2018, response2018_2019, response2019_2020, 
                 response2020_2021, response2021_2022, response2022_2023,
                 response2023_2024, response2024_2025 ]

In [82]:
#create empty list to store JSON formats 
data_json = []

#convert all API calls in response_list to json format and then add to data_json 
for res in response_list: 
    transform_res = res.json()
    data_json.append(transform_res)

In [83]:
#list used to delete columns in dataset
delete = ['idTeam', 'idStanding','strBadge', 'idLeague','strForm', 'strDescription', 'dateUpdated']

#new empty list of dataframes of all the data_json 
data_frames = []

index = 0
for index in range (len(data_json)-1):
    data_frames.append(pd.json_normalize(data_json[index]['table']).drop(delete, axis = 1))

In [84]:
#example of before data cleaning

df_example = response2010_2011.json()
df_before_cleaning = pd.json_normalize(df_example['table'])

In [85]:
#concat all dataframes into one dataframe
combined_seasons = pd.concat(data_frames)
#combined_seasons.insert(0, "Season", [])
combined_seasons

,intRank,strTeam,strLeague,strSeason,intPlayed,intWin,intLoss,intDraw,intGoalsFor,intGoalsAgainst,intGoalDifference,intPoints
0,1,Manchester United,English Premier League,2010-2011,38,23,4,11,78,37,41,80
1,2,Chelsea,English Premier League,2010-2011,38,21,9,8,69,33,36,71
2,3,Manchester City,English Premier League,2010-2011,38,21,9,8,60,33,27,71
3,4,Arsenal,English Premier League,2010-2011,38,19,8,11,72,43,29,68
4,5,Tottenham,English Premier League,2010-2011,38,16,8,14,55,46,9,62
...,...,...,...,...,...,...,...,...,...,...,...,...
0,1,Manchester City,English Premier League,2023-2024,38,28,3,7,96,34,62,91
1,2,Arsenal,English Premier League,2023-2024,38,28,5,5,91,29,62,89
2,3,Liverpool,English Premier League,2023-2024,38,24,4,10,86,41,45,82
3,4,Aston Villa,English Premier League,2023-2024,38,20,10,8,76,61,15,68
4,5,Tottenham,English Premier League,2023-2024,38,20,12,6,74,61,13,66

In [86]:
#TEAMS: "Manchester United", "Chelsea", "Manchester City", "Arsenal", "Tottenham"

#for loop that extracts rows for Manchester United 
filtered_df_list = [df[df["strTeam"] == "Manchester United"] for df in data_frames]
df_manchesterunited = pd.concat(filtered_df_list)
#df_manchesterunited2 = df_manchesterunited.sort_values(by = ['intRank', 'intWin'])
df_manchesterunited.index = ['0', '1', '2','3','4','5','6','7','8']
df_manchesterunited.insert(0, "intSeason", [2010, 2011, 2012, 2014, 2015, 2017, 2019, 2020, 2022])
df_manchesterunited




#TEST - data_frames[0][data_frames[0]["strTeam"] == "Manchester City"]

,intSeason,intRank,strTeam,strLeague,strSeason,intPlayed,intWin,intLoss,intDraw,intGoalsFor,intGoalsAgainst,intGoalDifference,intPoints
0,2010,1,Manchester United,English Premier League,2010-2011,38,23,4,11,78,37,41,80
1,2011,2,Manchester United,English Premier League,2011-2012,38,28,5,5,89,33,56,89
2,2012,1,Manchester United,English Premier League,2012-2013,38,28,5,5,86,43,43,89
3,2014,4,Manchester United,English Premier League,2014-2015,38,20,8,10,62,37,25,70
4,2015,5,Manchester United,English Premier League,2015-2016,38,19,10,9,49,35,14,66
5,2017,2,Manchester United,English Premier League,2017-2018,38,25,7,6,68,28,40,81
6,2019,3,Manchester United,English Premier League,2019-2020,38,18,8,12,66,36,30,66
7,2020,2,Manchester United,English Premier League,2020-2021,38,21,6,11,73,44,29,74
8,2022,3,Manchester United,English Premier League,2022-2023,38,23,9,6,58,43,15,75

In [87]:
#for loop that extracts rows for Chelsea 
filtered_df_list2 = [df[df["strTeam"] == "Chelsea"] for df in data_frames]
df_chelsea = pd.concat(filtered_df_list2)
#df_chelsea2 = df_chelsea.sort_values(by = ['intRank', 'intWin'])
df_chelsea.index = ['0', '1', '2','3','4','5','6','7','8']
df_chelsea

,intRank,strTeam,strLeague,strSeason,intPlayed,intWin,intLoss,intDraw,intGoalsFor,intGoalsAgainst,intGoalDifference,intPoints
0,2,Chelsea,English Premier League,2010-2011,38,21,9,8,69,33,36,71
1,3,Chelsea,English Premier League,2012-2013,38,22,7,9,75,39,36,75
2,3,Chelsea,English Premier League,2013-2014,38,25,6,7,71,27,44,82
3,1,Chelsea,English Premier League,2014-2015,38,26,3,9,73,32,41,87
4,5,Chelsea,English Premier League,2017-2018,38,21,10,7,62,38,24,70
5,3,Chelsea,English Premier League,2018-2019,38,21,8,9,63,39,24,72
6,4,Chelsea,English Premier League,2019-2020,38,20,12,6,69,54,15,66
7,4,Chelsea,English Premier League,2020-2021,38,19,9,10,58,36,22,67
8,3,Chelsea,English Premier League,2021-2022,38,21,6,11,76,33,43,74

In [88]:
#for loop that extracts rows for Manchester City 
filtered_df_list3 = [df[df["strTeam"] == "Manchester City"] for df in data_frames]
df_manchestercity = pd.concat(filtered_df_list3)
#df_manchestercity2 = df_manchestercity.sort_values(by = ['intRank', 'intWin'])
df_manchestercity.index = ['0', '1', '2','3','4','5','6','7','8','9','10','11','12']
df_manchestercity

,intRank,strTeam,strLeague,strSeason,intPlayed,intWin,intLoss,intDraw,intGoalsFor,intGoalsAgainst,intGoalDifference,intPoints
0,3,Manchester City,English Premier League,2010-2011,38,21,9,8,60,33,27,71
1,1,Manchester City,English Premier League,2011-2012,38,28,5,5,93,29,64,89
2,2,Manchester City,English Premier League,2012-2013,38,23,6,9,66,34,32,78
3,1,Manchester City,English Premier League,2013-2014,38,27,6,5,102,37,65,86
4,2,Manchester City,English Premier League,2014-2015,38,24,7,7,83,38,45,79
5,4,Manchester City,English Premier League,2015-2016,38,19,10,9,71,41,30,66
6,1,Manchester City,English Premier League,2017-2018,38,32,2,4,106,27,79,100
7,1,Manchester City,English Premier League,2018-2019,38,32,4,2,95,23,72,98
8,2,Manchester City,English Premier League,2019-2020,38,26,9,3,102,35,67,81
9,1,Manchester City,English Premier League,2020-2021,38,27,6,5,83,32,51,86
10,1,Manchester City,English Premier League,2021-2022,38,29,3,6,99,26,73,93
11,1,Manchester City,English Premier League,2022-2023,38,28,5,5,94,33,61,89
12,1,Manchester City,English Premier League,2023-2024,38,28,3,7,96,34,62,91

In [89]:
#for loop that extracts rows for Arsenal 
filtered_df_list4 = [df[df["strTeam"] == "Arsenal"] for df in data_frames]
df_arsenal = pd.concat(filtered_df_list4)
#df_arsenal2 = df_arsenal.sort_values(by = ['intRank', 'intWin'])
df_arsenal.index = ['0', '1', '2','3','4','5','6','7','8','9']
df_arsenal

,intRank,strTeam,strLeague,strSeason,intPlayed,intWin,intLoss,intDraw,intGoalsFor,intGoalsAgainst,intGoalDifference,intPoints
0,4,Arsenal,English Premier League,2010-2011,38,19,8,11,72,43,29,68
1,3,Arsenal,English Premier League,2011-2012,38,21,10,7,74,49,25,70
2,4,Arsenal,English Premier League,2012-2013,38,21,7,10,72,37,35,73
3,4,Arsenal,English Premier League,2013-2014,38,24,7,7,68,41,27,79
4,3,Arsenal,English Premier League,2014-2015,38,22,7,9,71,36,35,75
5,2,Arsenal,English Premier League,2015-2016,38,20,7,11,65,36,29,71
6,5,Arsenal,English Premier League,2018-2019,38,21,10,7,73,51,22,70
7,5,Arsenal,English Premier League,2021-2022,38,22,13,3,61,48,13,69
8,2,Arsenal,English Premier League,2022-2023,38,26,6,6,88,43,45,84
9,2,Arsenal,English Premier League,2023-2024,38,28,5,5,91,29,62,89

In [90]:
#for loop that extracts rows for Tottenham
filtered_df_list5 = [df[df["strTeam"] == "Tottenham"] for df in data_frames]
df_tottenham = pd.concat(filtered_df_list5)
#df_tottenham2 = df_tottenham.sort_values(by = ['intRank', 'intWin'])
df_tottenham.index = ['0', '1', '2','3','4','5','6','7','8']
df_tottenham

,intRank,strTeam,strLeague,strSeason,intPlayed,intWin,intLoss,intDraw,intGoalsFor,intGoalsAgainst,intGoalDifference,intPoints
0,5,Tottenham,English Premier League,2010-2011,38,16,8,14,55,46,9,62
1,4,Tottenham,English Premier League,2011-2012,38,20,9,9,66,41,25,69
2,5,Tottenham,English Premier League,2012-2013,38,21,8,9,66,46,20,72
3,5,Tottenham,English Premier League,2014-2015,38,19,12,7,58,53,5,64
4,3,Tottenham,English Premier League,2015-2016,38,19,6,13,69,35,34,70
5,3,Tottenham,English Premier League,2017-2018,38,23,7,8,74,36,38,77
6,4,Tottenham,English Premier League,2018-2019,38,23,13,2,67,39,28,71
7,4,Tottenham,English Premier League,2021-2022,38,22,11,5,69,40,29,71
8,5,Tottenham,English Premier League,2023-2024,38,20,12,6,74,61,13,66

In [91]:
#convert all into separate csv files 

#tottenham 

df_tottenham.to_csv('tottenham_seasons2.csv', index = False)

In [92]:
#chelsea 
df_chelsea.to_csv('chelsea_seasons2.csv', index = False)

In [93]:
#manchesterunited
#df_manchesterunited.to_csv('manchesterunited_seasons2.csv', index = False)

In [94]:
#manchestercity 
df_manchestercity.to_csv('manchestercity_seasons2.csv', index = False)

In [95]:
#arsenal 
df_arsenal.to_csv('arsenal_seaons2.csv', index = False)

In [96]:
#df_example

df_before_cleaning.to_csv('df_example_before_cleaned.csv', index = False)

In [97]:
#combined seasons 
#combined_seasons.to_csv('combined_seasons.csv', index = False)

In [98]:
#create csv files for every season 

#index = 0
#for index in range (len(data_frames)-1):
    #data_frames[index].to_csv(f'season_{2010+index}_{2011+index}.csv', index = False)